DISCORD_API_TOKEN = 
MONGO_DB_URL = 


# Logging ID
# Make sure that all channel ID is under the guild
LOG_GUILD_ID = 

# Channel IDS for logging
LOG_CHAT_ID = 
LOG_SYSTEM_ID = 
LOG_MOD_ID = 
LOG_PLAYER_REPORT_ID = 

CACHE_THRESHOLD = 

GENERAL_LOBBY_NAME = 

# Links
SUPPORT_INV_LINK = 